
<!-- partial:partials/_sidebar.html -->
<aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open bg-dark bg-gradient">
    <div class="mdc-drawer__header border-bottom border-light">
        <p>---------------------------------------------------------</p>
        <p style="color:black">creator @tonykungu2@gmail.com</p>
    </div>
    <div class="mdc-drawer__content" style="background-color:purple">
        <div class="mdc-list-group">
            <nav class="mdc-list mdc-drawer-menu">
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{{url_for('home')}}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i> Home
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{{url_for('catInfo')}}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">list</i> Category List
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{{url_for('prodInfo')}}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">label</i> Stock Levels
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{{url_for('posPage')}}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">payment</i> POS
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{{url_for('salesInfo')}}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">receipt</i> Sales
                    </a>
                </div>
                {% if current_user.user=="500" %}
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{{url_for('summaryInfo')}}">
                        <i class="fa fa-list"></i> 
                       <p style="margin-left:15px">summary</p>
                    </a>
                </div>
                 <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{{url_for('graphs')}}">
                        <i class="fa fa-dashboard"></i> 
                       <p style="margin-left:15px">reports</p>
                    </a>
                </div>
                {% endif %}
            </nav>
        </div>
    </div>
</aside>