{% extends "base.html" %} {% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Point of Sales</h4>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card" style="background-color: white";>
        {% with messages =get_flashed_messages() %}
                                        {% for message in messages %}
                                        <p style="color:red">{{message}}</p>
                                        {% endfor %}
                                        {% endwith %}
        <form method="POST" id="pos-form">
            <fieldset>
                <legend>Add Products</legend>
                <div class="row align-items-end">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <div class="form-group mb-3">
                            <input list="magicHouses" id="serial" name="serial" placeholder="search here..." />
                            <datalist id="magicHouses">
                                  {% for scan in scans  %}
                                  <option value="{{scan.name}}">{{scan.name}}</option>
                                  {% endfor %}
                            </datalist>
                            <button style="border: none; background: aquamarine;" type="submit"><i class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 col-md-12">
                        <div class="form-group mb-3">
                            <label for="product-qty">Qty</label>
                            <input type="number" class="form-control form-control-sm text-center" step="any" name="qty" id="qty" value="1">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-2 col-md-12">
                        <div class="form-group mb-3">
                            <a href="{{url_for('posPage')}}">
                           <i class="fa fa-refresh"></i>
                        </a>
                        &nbsp &nbsp &nbsp
                        <a href="/">
                            <button style="background-color:aquamarine; border:None" type="button">
                            <i class="fa fa-payment">  pay</i>
                            </button>
                         </a>
                        </div>
                        
                            
                        
                        
                    </div>
                   

                </div>
            </fieldset>
            <fieldset>
                <div class="d-flex w-100" id="POS-field">
                    <div class="col-8 bg-gradient bg-light border h-100">
                        <div class="table-responsive">
                        <table class="table table-bordered">
                            <colgroup>
                                <col width="5%">
                                <col width="15%">
                                <col width="40%">
                                <col width="20%">
                                <col width="20%">
                            </colgroup>
                            <thead>
                                <tr class="bg-dark bg-gradient bg-opacity-50 text-light">
                                    <th class="py-1 px-2 text-center  text-light"></th>
                                    <th class="py-1 px-2 text-center  text-light">QTY</th>
                                    <th class="py-1 px-2 text-center  text-light">Product</th>
                                    <th class="py-1 px-2 text-center  text-light">Price</th>
                                    <th class="py-1 px-2 text-center  text-light">Total</th>
                                </tr>
                            </thead>
                            <tbody id="tbc">
                            

                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="col-4 bg-gradient bg-dark bg-opacity-50 border h-100">
                        <div class="col-12 py-4 px-2">
                            <dl>
                                <dt class="h4 fw-bold text-light">customer Info</dt>
                                <dd class="text-end py-1 px-2 rounded-0 bg-light">

                                    <input type="text" name="cname" id="cname" placeholder="customer name" >
                                    <input type="text" name="cphone" id="cphone" placeholder="customer phone">
                                    <input type="text" name="debt" id="debt" placeholder="register debt amount" >
                                    
                                </dd>
                                <dt class="h4 fw-bold text-light">Discount</dt>
                                <dd class="text-end py-1 px-2 rounded-0 bg-light">
                                    <input type="text" name="disc" id="disc" value="0">
                                    <span class="h3 fw-bold" id="tax_amount"></span>
                                </dd>
                                <dt class="h4 fw-bold text-light">Grand Total</dt>
                                <dd class="text-end py-1 px-2 rounded-0 bg-light">
                                    <input type="text" name="grand_total" id="grand_total" style="font-weight:bolder ;"value="0">
                                    <span class="h3 fw-bold" id="grand_total"></span>
                                    
                                </dd>
                                
                            </dl>
                        </div>
                    </div>
                </div>
            </fieldset>
            
        </form>
        
    </div>
</div>

{% endblock pageContent %} {% block ScriptBlock %}

<script>
    $(document).ready(function(){
    $('#pos-form').on('submit', function(e){
        e.preventDefault();
        var scans=JSON.parse('{{ scans | tojson | safe }}')
        var newScans=[]
        var err=[]
        var ser=$('#serial').val()
        var quant=$('#qty').val()
        var disc=$('#disc').val()
        var debt=$('#debt').val()
        //$('#serial').val("")
        scans.forEach(function(scan){
            if(scan.name==ser){
            newScans.push(scan.pid,quant,scan.name,scan.price,scan.price*quant)
            }
            
        })
        if(newScans[1]==undefined){
            newScans[0]="item not found"
            newScans[1]="item not found"
            newScans[2]="item not found"
            newScans[3]=0
            newScans[4]=0
            disc=0;
            debt=0;
        }
        sum=parseFloat($('#grand_total').val());
        sum+=newScans[4]
        sum=sum-disc-debt
        $('#grand_total').val(sum)

        $.ajax({
        type:'POST',
        url:'/pos',
        data:{
          serial:$("#serial").val(),
          disc:$("#disc").val(),
          qty:$('#qty').val(),
          debt:$('#debt').val(),
          cphone:$('#cphone').val(),
          cname:$('#cname').val()

        },
        success:function()
        {
            $("#serial").val("")
            $("#disc").val("")
            $("#qty").val("")
            newLine='<tr><td>'+newScans[0]+'</td>'+'<td>'+newScans[1]+'</td>'+'<td>'+newScans[2]+'</td>'+'<td>'+newScans[3]+'</td>'+'<td>'+newScans[4]+'</td>'+'</tr>'
            $('#tbc').append(newLine)
        }
      })
    });
});

</script>
{% endblock ScriptBlock %}


