{% extends "base.html" %}  {% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Sales List</h4>
            <input list="magicHouses" id="cname" name="cname" placeholder="search customer here..." />
          <datalist id="magicHouses">
                {% for sale in sales %}
                <option value="{{sale.sDebtor}}">{{sale.sDebtor}}</option>
                {% endfor %}
          </datalist>
            <input list="magicHouses" id="iname" name="iname" placeholder="search item here..." />
          <datalist id="magicHouses">
                {% for sale in sales %}
                <option value="{{sale.sname}}">{{sale.sname}}</option>
                {% endfor %}
          </datalist>

        </div>
        
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div id="sales" class="mdc-card">
        <div class="table-responsive">
            <form action="{{url_for('salesInfo')}}" method="POST">
                <label>from</label>
                <input type="date" name="date1" id="date1">
                <label>To:</label>
                <input type="date" name="date2" id="date2">
                <button style="border: none; background: white;" type="submit"><i class="fa fa-filter"></i></button>
                &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                <a href="{{url_for('salesInfo')}}">
                    
                    <i class="fa fa-refresh"></i>
                   
                 </a>
            </form>
            
            <table id="salesTab" class="table table-striped table-bordered">
                <colgroup>
                    <col width="5%">
                    <col width="20%">
                    <col width="20%">
                    <col width="25%">
                    <col width="15%">
                    <col width="15%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1">#</th>
                        <th class="text-center py-1">DateTime</th>
                        <th class="text-center py-1">Trans. Code</th>
                        <th class="text-center py-1">name</th>
                        <th class="text-center py-1">Price</th>
                        <th class="text-center py-1">Profit</th>
                        <th class="text-center py-1">Discount</th>
                        <th class="text-center py-1">Quantity</th>
                        <th class="text-center py-1">customer name</th>
                        <th class="text-center py-1">customer phone</th>
                         <th class="text-center py-1">Initial debt</th>
                        <th class="text-center py-1">current debt</th>
                        <th class="text-center py-1">Seller id</th>
                        <th class="text-center py-1">Action</th>
                    </tr>
                </thead>
                <tbody id="saletab">
                    {% for sale in sales %}
                    <tr>
                        <td class="px-2 py-1 text-center">{{sale.sid}}</td>
                        <td class="px-2 py-1 text-start">{{sale.sDate}}</td>
                        <td class="px-2 py-1 text-start">{{sale.scode}}</td>
                        <td class="px-2 py-1 text-start">{{sale.sname}}</td>
                        <td id="price" class="px-2 py-1 text-start">{{sale.sPrice}}</td>
                        <td id="profit" class="px-2 py-1 text-start">{{sale.sProfit}}</td>
                        <td id="profit" class="px-2 py-1 text-start">{{sale.sDisc}}</td>
                        <td id="profit" class="px-2 py-1 text-start">{{sale.sQuant}}</td>
                        <td id="profit" class="px-2 py-1 text-start">{{sale.sDebtor}}</td>
                        <td id="profit" class="px-2 py-1 text-start">{{sale.sPhone}}</td>
                         <td id="profit" class="px-2 py-1 text-start">{{sale.sDebtin}}</td>
                        <td id="profit" class="px-2 py-1 text-start">{{sale.sDebt}}</td>
                        <td class="px-2 py-1 text-start">{{sale.sCreator}}</td>
                        <td class="px-2 py-1 text-start">
                        <a href="/sales/return/{{sale.sid}}">
                            <button  class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded view-data" type="button" data-id="" title="View Receipt">
                                return
                            </button>
                            </a>
                            <a href="/sales/del/{{sale.sid}}">
                            <button onclick="confDel();" class="mdc-button mdc-button--raised p-1 icon-button filled-button--danger mdc-ripple-upgraded delete-data" type="button" data-id="" data-code="" title="Delete">
                                <i class="material-icons mdc-button__icon">deleteoutline</i>
                            </button>
                            </a>
                            <a href="/sales/debt/{{sale.sid}}">
                            <button style="background-color:green">
                               <i class="fa fa-money"></i>
                            </button>
                            </a>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <label style="color:orange">Total price</label>
            <input type="text" name="total_price" value="{{price}}">
            <label style="color:brown">Total profit</label>
            <input type="text" name="total_profit" value="{{profit}}">
        </div>
    </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
function confDel(){
    //alert("confirm deletion else refresh")
}
    $(document).ready(function(){
        $("#iname").on("keyup",function(){
            var value=$(this).val().toLowerCase();
            $("#saletab tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
     $(document).ready(function(){
        $("#cname").on("keyup",function(){
            var value=$(this).val().toLowerCase();
            $("#saletab tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock ScriptBlock %}